* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.game-header {
  text-align: center;
  padding: 1rem;
}

.game-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 8px;
  padding: 1rem;
}

.game-info-container {
  grid-row: span 2 / span 2;
  display: flex;
  flex-direction: column;
}

.game-board-container {
  grid-row: span 2 / span 2;
  padding: 2rem;
}

/* Game Info */
.game-info {
    background: #40c034;
}

/*Board*/
.game-board {
  display: flex;
  flex-wrap: wrap;
  max-width: 680px;
  width: 75%;
  height: 100%;
  border: 4px solid #000;
  border-radius: 16rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.game-box-color {
  cursor: pointer;
  max-width: 340px;
  width: 50%;
  height: 25dvh;
  min-height: 227px;
}

.light {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.yellow {
    background: yellowgreen;
}

.blue {
    background: aquamarine;
}

.green {
    background: seagreen;

}
.red {
    background: tomato;
}

/*Button*/
.btn-start{
    width: 200px;
    height: auto;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 1.5rem;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    text-align: center;
    line-height: 2;
    cursor: pointer;
}

.btn-start {
	color: #000;
	transition: all 0.10s;
}

.btn-start::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.6);
	transition: all 0.3s;
}

.btn-start:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}

.btn-start::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.8);
	transform: scale(1.2,1.2);
}

.btn-start:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.hide{
  display: none;
}

/*Instructions*/

.Int{
    width: 500px;
    height: 200px;
    
    position: absolute;
    margin-left: 80PX;
}

.Int p {
    width: 400px;
    border-radius: 15PX;
    border: solid 4px black;
    margin-left: -20px;

}

/*Punctuation*/

.puntuacion{
    position: absolute;
    margin-left: 75vw;  
}

table{
    border: dotted 2px black;
    border-radius: 15PX;
    /*width: 232px;
    height: 500px;*/ 
    font-size: 2em;
    /*font-weight: bold;*/
    text-align: center;
}

td{
    border: solid 2px black;
    padding: 15px;
}